.L_Info{
    font-size: 12px;
    color: orange;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
}
.intro_AZ {
    color: #77c5eb;
    letter-spacing: normal;
    position: fixed;
    width: 1024px;
    font-size: 34px;
    text-align: center;
    font-family: century gothic, Arial;
    font-style:  italic;
    left: 0px;
    top: 40px;
    font-weight: bold;
}
.Name_MC {
    color: black;
    letter-spacing: normal;
    position: fixed;
    width: 1024px;
    font-size: 34px;
    text-align: center;
    font-family: Arial;
    left: 0px;
    top: 150px;
    font-weight: bold;
}
.intro_MC {
    color: #1dabe8;
    letter-spacing: normal;
    position: fixed;
    width: 1024px;
    font-size: 34px;
    text-align: center;
    font-family: Arial;
    left: 0px;
    top: 200px;
    font-weight: bold;
}
.time_MC {
    left: 0px;
    top: 600px;
    position: fixed;
    width: 1024px;
    font-size: 36px;
    color: black;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}
.time {
    left: 10px;
    top: 10px;
    position: fixed;
    width: 600px;
    font-size: 18px;
    color: #77c5eb;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
}
.intro {
    color: #3e6db6;
    letter-spacing: normal;
    position: fixed;
    width: 1024px;
    font-size: 34px;
    text-align: center;
    font-family: Arial;
    left: 0px;
    top: 400px;
    font-weight: bold;
}
.Parts {
    background-color:white;
    position:fixed; 
    visibility:visible; 
    top:100px; 
    left:10px; 
    width:1600px; 
    height:800px; 
    overflow:auto;
}
.intro_name {
    color: #3e6db6;
    letter-spacing: normal;
    position: fixed;
    width: 500px;
    font-size: 22px;
    text-align: left;
    font-family: Arial;
    left: 525px;
    top: 350px;
    font-weight: bold;
}
.kalender{
    top:80px;
    left:30px;
}
#But1 {
    width: 200px;
}
#But2 {
    width: 200px;
}
#But3 {
    width: 200px;
}
#But4 {
    width: 200px;
}
.monthyear0 { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    color: #000000
}
.daynames0 {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    font-weight: normal; 
    color: #000000
}
.dates0 {     
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-weight: normal; 
    color: #000000
}
.kw {     
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    color: #000000
}
.F_text{
    position:absolute; 
    text-align:left; 
    color: white; 
    font-size: 16px;  
    top:100px; 
    left:100px; 
    width:750px;
}